    public ${SELF} sort() {
        final ${SELF} result = copy();
        result.sortInPlace();
        return result;
    }

    public void sortInPlace() {
        Arrays.sort(elements, 0, length);
    }
