        final boolean indexed = transform.type().parameterCount() == 2;
        return switch (elementDescriptor) {
            case "B" -> {
                final byte[] values = new byte[length];
                for (int index = 0; index < length; index++) {
                    values[index] = indexed
                        ? (byte) transform.invoke(elements[index], index)
                        : (byte) transform.invoke(elements[index]);
                }
                yield new EldByteArray(values);
            }
            case "S" -> {
                final short[] values = new short[length];
                for (int index = 0; index < length; index++) {
                    values[index] = indexed
                        ? (short) transform.invoke(elements[index], index)
                        : (short) transform.invoke(elements[index]);
                }
                yield new EldShortArray(values);
            }
            case "I" -> {
                final int[] values = new int[length];
                for (int index = 0; index < length; index++) {
                    values[index] = indexed
                        ? (int) transform.invoke(elements[index], index)
                        : (int) transform.invoke(elements[index]);
                }
                yield new EldIntArray(values);
            }
            case "J" -> {
                final long[] values = new long[length];
                for (int index = 0; index < length; index++) {
                    values[index] = indexed
                        ? (long) transform.invoke(elements[index], index)
                        : (long) transform.invoke(elements[index]);
                }
                yield new EldLongArray(values);
            }
            case "F" -> {
                final float[] values = new float[length];
                for (int index = 0; index < length; index++) {
                    values[index] = indexed
                        ? (float) transform.invoke(elements[index], index)
                        : (float) transform.invoke(elements[index]);
                }
                yield new EldFloatArray(values);
            }
            case "D" -> {
                final double[] values = new double[length];
                for (int index = 0; index < length; index++) {
                    values[index] = indexed
                        ? (double) transform.invoke(elements[index], index)
                        : (double) transform.invoke(elements[index]);
                }
                yield new EldDoubleArray(values);
            }
            case "Z" -> {
                final boolean[] values = new boolean[length];
                for (int index = 0; index < length; index++) {
                    values[index] = indexed
                        ? (boolean) transform.invoke(elements[index], index)
                        : (boolean) transform.invoke(elements[index]);
                }
                yield new EldBooleanArray(values);
            }
            case "C" -> {
                final char[] values = new char[length];
                for (int index = 0; index < length; index++) {
                    values[index] = indexed
                        ? (char) transform.invoke(elements[index], index)
                        : (char) transform.invoke(elements[index]);
                }
                yield new EldCharArray(values);
            }
            default -> {
                final Object[] values = new Object[length];
                for (int index = 0; index < length; index++) {
                    values[index] = indexed
                        ? transform.invoke(elements[index], index)
                        : transform.invoke(elements[index]);
                }
                yield new EldObjectArray<>(values);
            }
        };
